.section {
  background:url("/media/images/gatherUplanding page.png") no-repeat;
  background-size: cover;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.section2{
    background:url("/media/images/gatherUp2.png") no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}